<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:td="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>View All Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <img src="/img/new_logo.png" width="50" height="50">
    <!-- Brand/logo -->
    <a class="navbar-brand bg-dark"  href="index">Live Basketball</a>
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/admin">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/viewAllUsers">View All Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/viewBlockedUsers">View Blocked Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>

<center><h2>All Registered Users</h2></center>
<div class = "container">
<table class="table">
    <thead>
    <tr>
        <th scope="col">Facebook ID</th>
        <th scope="col">Name</th>
        <th scope="col">Block Status</th>
        <th scope="col">Block</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="obj : ${allUsers}">
        <td th:text="${obj.facebook_id}" scope="Selection" />
        <td th:text="${obj.name}" scope="Selection" />
        <td th:text="${obj.blocked}" scope="Selection" />
        <td> <a th:href="'/blockUser?userId=' + ${obj.facebook_id}">Click Here</a></td>
    </tr>
    </tbody>
</table></div>

</body>
</html>